:root{
    --grid-size : 600px;
    --pixel-border-color: white;
    --pixel-border-size: 1px;
}


body {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
    min-width: 750px;

}

#midStrip{
    padding: 0 10px 0;
    width: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#face{
    height: 720px;
    padding: 50px;
    background-color:antiquewhite;
    border-radius: 30px;
    flex:0 0 auto;
}

#grid{
    height: var(--grid-size);
    width: var(--grid-size);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display:flex;

    border: 2px black solid;
    pointer-events: none;
}

.strip{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.strip+.strip{
    border-left: var(--pixel-border-size) var(--pixel-border-color) solid;
}
.pixel{
    flex:1;
    pointer-events: all;
    background-color: white;
}

.pixel+.pixel{ 
    border-top: var(--pixel-border-size) var(--pixel-border-color) solid;
}

#chopGrid{
    margin: 19px 0;
}


#colorSelect{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    gap: 20px;
}

.colorButton{
    flex:1;
    padding: 5px;
    border-radius: 10px;
    border-width: 2px;
}

.colorButton>div{
    height:100%;
    width: 100%;
    border-radius: 5px;
    pointer-events: none;
}